.announce-list-container {
  margin: 2rem auto;
}
@media (min-width: 992px) {
  .announce-list-container {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .announce-list-container {
    max-width: 900px;
  }
}
.page-announce-list {
  width: 100%;
  min-height: 20rem;
}
.page-announce-list li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.6rem 1rem;
}
.page-announce-list li::before {
  content: '.';
  position: absolute;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  left: -0.4rem;
  font-size: 4.8rem;
  line-height: 1px;
  color: hsl(var(--color-primary-base));
}
.page-announce-list li .news-date {
  display: none;
}
.page-announce-list li .news-info {
  width: 100%;
}
.page-announce-list li .news-info .news-title {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page-announce-list li .news-info .news-intro {
  display: none;
}
@media (min-width: 768px) {
  .page-announce-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .page-announce-list li::before {
    display: none;
  }
  .page-announce-list li .news-date {
    display: block;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 95%);
    color: #333;
    border-radius: 1rem;
  }
  .page-announce-list li .news-date span {
    display: block;
    text-align: center;
    font-size: 1.6rem;
  }
  .page-announce-list li .news-date span.news-day {
    font-size: 2.4rem;
  }
  .page-announce-list li .news-info {
    width: calc(100% - 10rem);
  }
  .page-announce-list li .news-info .news-title {
    font-size: 1.6rem;
  }
  .page-announce-list li .news-info .news-intro {
    margin-top: 0.2rem;
    margin-bottom: 0;
    height: 4rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
header .fixed-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  max-height: 6rem;
  z-index: 1999;
  color: #fff;
  background-color: hsl(var(--color-primary-base));
}
header .fixed-bar.sub {
  color: #333;
  background-color: hsl(0, 0%, 95%);
}
header .fixed-bar.sub .fixed-bar-content .mobile-back {
  display: inline-block;
}
header .fixed-bar.sub .fixed-bar-content .header-title {
  display: none;
}
header .fixed-bar > * {
  opacity: 1;
}
header .fixed-bar .fixed-bar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .fixed-bar .fixed-bar-content .mobile-back {
  display: none;
  font-size: 1.6rem;
}
header .fixed-bar .fixed-bar-content .header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .fixed-bar .fixed-bar-content .header-title .logo {
  margin-right: 4px;
}
header .fixed-bar .fixed-bar-content .header-title .logo > img {
  height: 4rem;
  filter: grayscale(100%) brightness(100);
}
header .fixed-bar .fixed-bar-content .header-title .company-name {
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 1;
  color: #fff;
}
@media (min-width: 768px) {
  header .fixed-bar .fixed-bar-content .header-title .company-name {
    font-size: 1.8rem;
  }
}
header .fixed-bar .fixed-bar-content .lang-bar-pc {
  display: none;
}
header .fixed-bar .fixed-bar-content .lang-bar-pc a {
  cursor: pointer;
  color: #fff;
  padding: 0 6px;
}
header .fixed-bar .fixed-bar-content .lang-bar-pc a.disabled {
  color: #666;
  font-weight: bold;
  pointer-events: none;
}
@media (min-width: 992px) {
  header .fixed-bar .fixed-bar-content .lang-bar-pc {
    display: inline-block;
  }
}
header .fixed-bar .fixed-bar-content .lang-bar-pc .icon-weixin {
  margin: 0 6px;
  color: #fff;
}
header .fixed-bar .fixed-bar-content .lang-bar-mobile {
  display: inline-block;
}
@media (min-width: 992px) {
  header .fixed-bar .fixed-bar-content .lang-bar-mobile {
    display: none;
  }
}
header .fixed-bar .fixed-bar-content .lang-bar-mobile .lang-switch-btn {
  cursor: pointer;
  font-weight: normal;
  border-radius: 20px;
  border: 1px solid hsl(var(--color-primary-lighter-base));
  padding: 0.2rem 2rem;
}
header .fixed-bar .wexin-code {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 28rem;
  height: 28rem;
  color: #666;
  background-color: #fff;
  box-shadow: 0 1px 10px #ccc;
  z-index: 1000;
}
header .fixed-bar .wexin-code > .code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
header .fixed-bar .wexin-code .close {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}
@media (min-width: 768px) {
  header .fixed-bar {
    position: static;
    color: #fff;
    background-color: hsl(var(--color-primary-base));
  }
  header .fixed-bar.sub {
    color: #fff;
    background-color: hsl(var(--color-primary-base));
  }
  header .fixed-bar.sub .fixed-bar-content .mobile-back {
    display: none;
  }
  header .fixed-bar.sub .fixed-bar-content .header-title {
    display: flex;
  }
}
header .header-container {
  width: 100%;
  padding-top: 6rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  header .header-container {
    max-width: 720px;
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  header .header-container {
    max-width: 960px;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  header .header-container {
    max-width: 1140px;
  }
}
header .header-container .navbar-container .navbar {
  padding: 0;
}
header .header-container .lang-bar-navbar {
  display: none;
}
@media (min-width: 992px) {
  header .header-container .lang-bar-navbar {
    display: inline-block;
  }
}
header .header-container .lang-bar-navbar .lang-switch-btn {
  cursor: pointer;
  font-weight: normal;
  border-radius: 20px;
  border: 1px solid hsl(var(--color-primary-base));
  padding: 0.5rem 2rem;
  margin: 0 1rem;
}
header .header-container .lang-bar-navbar .lang-switch-btn:hover {
  color: #fff;
  background-color: hsl(var(--color-primary-base));
}
.bg-blue {
  background-color: #fff;
}
.navbar-blue {
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .navbar-blue {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-blue .navbar-brand {
    display: none;
  }
}
.navbar-blue .navbar-brand {
  color: hsl(var(--color-primary-base));
  font-weight: bold;
  font-size: 1.8rem;
  padding-left: 2rem;
  max-width: calc(100% - 6rem);
  overflow: hidden;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #666;
}
.navbar-blue .navbar-collapse {
  position: absolute;
  z-index: 999;
  top: 0.5rem;
  width: 50%;
  background-color: hsla(var(--color-primary-dark-base), 0.8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
@media (min-width: 992px) {
  .navbar-blue .navbar-collapse {
    position: static;
    background: none;
  }
}
.navbar-blue .navbar-nav {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.navbar-blue .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
.navbar-blue .navbar-nav .nav-link:hover,
.navbar-blue .navbar-nav .nav-link:focus {
  color: #fff;
}
.navbar-blue .navbar-nav .nav-link.disabled {
  color: #fff;
}
.navbar-blue .navbar-nav .show > .nav-link,
.navbar-blue .navbar-nav .active > .nav-link,
.navbar-blue .navbar-nav .nav-link.show， .nav-link.active {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar-blue .navbar-nav {
    background: none;
    max-width: 960px;
  }
  .navbar-blue .navbar-nav .nav-link {
    padding: 0.6rem 1.2rem;
    margin: 0 1rem;
    color: #333;
    border-radius: 2rem;
  }
  .navbar-blue .navbar-nav .nav-link:hover {
    color: #fff !important;
    background-color: hsl(var(--color-primary-base));
  }
  .navbar-blue .navbar-nav .nav-link:focus {
    color: #333;
  }
  .navbar-blue .navbar-nav .nav-link.disabled {
    color: #666;
  }
  .navbar-blue .navbar-nav .show > .nav-link,
  .navbar-blue .navbar-nav .nav-link.show， {
    color: #fff;
    background-color: hsl(var(--color-primary-base));
  }
  .navbar-blue .navbar-nav .active > .nav-link,
  .navbar-blue .navbar-nav .nav-link.active {
    color: #fff;
    background-color: hsl(var(--color-primary-lighter-base));
  }
}
@media (min-width: 1200px) {
  .navbar-blue .navbar-nav {
    max-width: 1140px;
  }
}
.navbar-blue .navbar-toggler {
  margin-right: 1rem;
  padding: 1rem 1.2rem;
  background-color: hsl(var(--color-primary-base));
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 0 1px 1px #fff;
  opacity: 0.8;
  position: absolute;
  top: 0.1rem;
  z-index: 999;
}
.navbar-blue .navbar-toggler.not-collapsed {
  display: none;
}
.navbar-blue .navbar-text {
  color: #fff;
}
.navbar-blue .navbar-text a {
  color: #fff;
}
.navbar-blue .navbar-text a:hover,
.navbar-blue .navbar-text a:focus {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar-blue .navbar-text {
    color: #333;
  }
  .navbar-blue .navbar-text a {
    color: #333;
  }
  .navbar-blue .navbar-text a:hover,
  .navbar-blue .navbar-text a:focus {
    color: #333;
  }
}
.navbar-blue .dropdown-menu {
  font-size: 1.4rem;
  margin-top: -1px;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  min-width: 100%;
  background-color: hsla(var(--color-primary-base), 0.4);
}
.navbar-blue .dropdown-menu a {
  padding: 1rem 1rem 1rem 4rem;
  color: #fff;
}
.navbar-blue .dropdown-menu a:hover,
.navbar-blue .dropdown-menu a:focus {
  background-color: hsla(var(--color-primary-base), 0.4);
}
@media (min-width: 992px) {
  .navbar-blue .dropdown-menu a {
    padding: 1rem 1rem 1rem 3rem;
  }
}
@media (min-width: 992px) {
  .navbar-blue .dropdown-menu {
    background: none;
    border: none;
  }
  .navbar-blue .dropdown-menu li {
    margin: 0.6rem;
  }
  .navbar-blue .dropdown-menu a {
    padding: 0.4rem 1.4rem;
    text-align: center;
    border-radius: 2rem;
    background-color: hsla(var(--color-primary-base), 0.8);
  }
  .navbar-blue .dropdown-menu a:hover,
  .navbar-blue .dropdown-menu a:focus {
    background-color: hsl(var(--color-primary-base));
  }
}
.banner {
  text-shadow: 1px 1px 2px #333;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.banner h2 {
  font-size: 1.8rem;
}
.banner p {
  font-size: 1.2rem;
}
.banner .swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner .swiper-slide {
  height: 0;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
}
.banner .swiper-slide > img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 213.33333333%;
  width: 213.33333333% !important;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .banner .swiper-slide > img {
    width: 100% !important;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .banner .swiper-slide {
    padding-bottom: 23.4375%;
  }
}
.banner .swiper-banner-prev,
.banner .swiper-banner-next {
  display: none;
  z-index: 10;
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
}
@media (min-width: 768px) {
  .banner .swiper-banner-prev,
  .banner .swiper-banner-next {
    display: block;
  }
}
.banner .swiper-banner-prev {
  left: 0;
  transform: rotate(-45deg) translateY(-50%);
  border-top: 0.3rem solid hsl(var(--color-primary-base));
  border-left: 0.3rem solid hsl(var(--color-primary-base));
}
@media (min-width: 768px) {
  .banner .swiper-banner-prev {
    left: 10%;
  }
}
.banner .swiper-banner-next {
  right: 0;
  transform: rotate(45deg) translateY(-50%);
  border-top: 0.3rem solid hsl(var(--color-primary-base));
  border-right: 0.3rem solid hsl(var(--color-primary-base));
}
@media (min-width: 768px) {
  .banner .swiper-banner-next {
    right: 10%;
  }
}
.banner .swiper-button-disabled {
  opacity: 0.5;
}
.banner .swiper-pagination-bullet {
  width: 2rem;
  height: 0.25rem;
  border-radius: 1.5rem;
  opacity: 0.5;
  background: #666;
}
@media (min-width: 768px) {
  .banner .swiper-pagination-bullet {
    width: 6rem;
  }
}
.banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: hsl(var(--color-primary-base));
}
.banner .carousel {
  height: 0;
  padding-bottom: 50%;
  position: relative;
}
.banner .carousel .carousel-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner .carousel .carousel-item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.banner .carousel .carousel-item > img {
  position: absolute;
  top: 50%;
  max-width: 213.33333333%;
  width: 213.33333333% !important;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner.sub {
  display: none;
}
@media (min-width: 768px) {
  .banner {
    padding-bottom: 23.4375%;
  }
  .banner h2 {
    font-size: 300%;
  }
  .banner p {
    font-size: 150%;
  }
  .banner .carousel {
    padding-bottom: 23.4375%;
  }
  .banner .carousel .carousel-item > img {
    max-width: 100%;
    width: 100% !important;
  }
  .banner.sub {
    display: block;
    padding-bottom: 15.625%;
  }
  .banner.sub .carousel {
    padding-bottom: 15.625%;
  }
  .banner.sub .carousel .carousel-item > img {
    max-width: 100%;
    width: 100% !important;
  }
  .banner.sub .swiper-slide {
    padding-bottom: 15.625%;
  }
  .banner.sub .swiper-slide > img {
    max-width: 100%;
    width: 100% !important;
  }
}
.carousel-caption {
  position: absolute;
  left: 15%;
  top: 0;
  z-index: 10;
  width: 70%;
  height: 100%;
  padding: 0;
}
.carousel-caption .banner-font {
  position: absolute;
  z-index: 11;
}
.carousel-caption .banner-font h2,
.carousel-caption .banner-font p {
  white-space: nowrap;
}
.carousel-caption .banner-font.left.top {
  left: 0;
  top: 10%;
  text-align: left;
  transform: translate(0, -10%);
}
.carousel-caption .banner-font.left.middle {
  left: 0;
  top: 50%;
  text-align: left;
  transform: translate(0, -50%);
}
.carousel-caption .banner-font.left.bottom {
  left: 0;
  bottom: 10%;
  text-align: left;
  transform: translate(0, 10%);
}
.carousel-caption .banner-font.center.top {
  left: 50%;
  top: 10%;
  text-align: center;
  transform: translate(-50%, -10%);
}
.carousel-caption .banner-font.center.middle {
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.carousel-caption .banner-font.center.bottom {
  left: 50%;
  bottom: 10%;
  text-align: center;
  transform: translate(-50%, 10%);
}
.carousel-caption .banner-font.right.top {
  right: 0;
  top: 10%;
  text-align: right;
  transform: translate(0, -10%);
}
.carousel-caption .banner-font.right.middle {
  right: 0;
  top: 50%;
  text-align: right;
  transform: translate(0, -50%);
}
.carousel-caption .banner-font.right.bottom {
  right: 0;
  bottom: 10%;
  text-align: right;
  transform: translate(0, 10%);
}
.carousel-caption .banner-font p {
  margin-bottom: 0;
}
footer {
  background-color: hsl(var(--color-primary-base));
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  line-height: 2.6rem;
}
footer .contact-info {
  padding: 2rem;
  border-bottom: 1px solid hsl(var(--color-fourth-base), 0.2);
}
footer .contact-info .contact-info-company {
  display: none;
}
footer .contact-info .contact-info-contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
footer .contact-info .contact-info-contact span {
  margin-right: 0.2rem;
}
footer .icp {
  padding: 2rem;
}
footer .icp dl {
  margin-bottom: 0;
}
footer .icp dl dt {
  font-weight: normal;
}
footer .icp dl dd {
  margin: 0;
}
@media (min-width: 992px) {
  footer .contact-info {
    display: flex;
    width: 100%;
  }
  footer .contact-info .contact-info-company {
    display: block;
    width: 40%;
  }
  footer .contact-info .contact-info-company .logo > img {
    height: 3rem;
  }
  footer .contact-info .contact-info-company .company-name {
    font-weight: bold;
  }
  footer .contact-info .contact-info-contact {
    width: 60%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: none;
  }
  footer .contact-info .contact-info-contact .email {
    width: 50%;
  }
  footer .contact-info .contact-info-contact .tel {
    width: 50%;
  }
  footer .contact-info .contact-info-contact .address {
    width: 100%;
  }
  footer .icp dl {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  footer .icp dl dt {
    width: 100%;
  }
  footer .icp dl dd {
    padding: 1rem;
    margin: 0 1rem;
  }
}
.main {
  min-height: 20rem;
}
.main .breadCrumb-container {
  display: none;
  background-color: hsl(0, 0%, 95%);
  padding: 1rem;
}
@media (min-width: 992px) {
  .main .breadCrumb-container {
    display: block;
  }
}
.main .breadCrumb-container .breadcrumb {
  background: none;
  margin-bottom: 0;
}
.main .page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem auto;
}
.main .page-title > span {
  padding: 2rem;
  display: inline-block;
}
.main .page-title .name {
  border-bottom: 1px solid hsl(var(--color-primary-base));
}
.main .page-title .more {
  font-weight: normal;
  font-size: 1.4rem;
  flex-grow: 1;
  text-align: right;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 992px) {
  .main .page-title {
    max-width: 800px;
  }
  .main .page-title .name {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1200px) {
  .main .page-title {
    max-width: 900px;
  }
}
.main .page-title.wide {
  max-width: 100% !important;
}
.main .page-detail-title {
  padding: 2rem 0;
  margin-top: 2rem;
  margin-bottom: 0;
  text-align: center;
}
.main .page-sub-title {
  text-align: center;
  font-weight: normal;
}
.main .page-content {
  margin: 2rem auto;
  padding: 0.4rem;
  max-width: 100%;
  word-break: break-all;
  overflow: hidden;
}
.main .page-content.limit-width img {
  max-width: 100% !important;
}
@media (min-width: 992px) {
  .main .page-content {
    max-width: 800px;
    min-height: 20rem;
  }
}
@media (min-width: 1200px) {
  .main .page-content {
    max-width: 900px;
  }
}
.main .page-inside-nav {
  margin: 2rem 0;
}
.main .page-inside-nav dl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}
.main .page-inside-nav dd {
  margin: 1rem;
}
.main .page-inside-nav dd a {
  padding: 1rem 3rem;
  min-width: 12rem;
  display: block;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  background-color: hsl(var(--color-primary-lighter-base));
}
.main .page-inside-nav dd a:hover,
.main .page-inside-nav dd a.active {
  box-shadow: 0 0 3px hsl(var(--color-primary-dark-base));
  background-color: hsl(var(--color-primary-base));
}
.main .page-sub-groups {
  height: 0;
  width: 100%;
}
.main .page-sub-groups .web-choose,
.main .page-sub-groups .web-collapse {
  display: none;
}
.main .page-sub-groups .table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main .page-sub-groups .table .list {
  max-height: 0;
  overflow: hidden;
  background-color: hsla(var(--color-primary-lighter-base), 0.8);
}
.main .page-sub-groups .table .list > dl {
  padding: 1rem 0;
  margin-bottom: 0;
}
.main .page-sub-groups .table .list > dl dd {
  text-align: left;
  margin-bottom: 0;
  padding: 1rem 3.6rem;
}
.main .page-sub-groups .table .list > dl dd a {
  font-size: 1.6rem;
  color: #fff;
}
.main .page-sub-groups.expand .table {
  height: 100%;
  transition: height 0.5s ease-out;
}
.main .page-sub-groups.expand .table .list {
  max-height: 100%;
}
@media (min-width: 768px) {
  .main .page-sub-groups {
    height: unset;
    overflow: hidden;
  }
  .main .page-sub-groups .table {
    position: static;
    display: table;
    margin-bottom: 0;
    width: 100%;
    background: none;
  }
  .main .page-sub-groups .table .list {
    display: table-cell;
    border-radius: 0;
    text-align: center;
  }
  .main .page-sub-groups .table .list > dl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    background: none;
    padding: 0;
  }
  .main .page-sub-groups .table .list > dl dd {
    text-align: left;
    margin: 0;
    padding: 1rem;
  }
  .main .page-sub-groups .table .list > dl dd a {
    display: inline-block;
    padding: 0.6rem 1rem;
    background-color: #666;
    border-radius: 0.6rem;
  }
  .main .page-sub-groups .table .list > dl dd a:hover {
    background-color: hsl(var(--color-primary-base));
  }
  .main .page-sub-groups .web-choose {
    display: table-cell;
    text-align: center;
    width: 10rem;
  }
  .main .page-sub-groups .web-collapse {
    display: table-cell;
    text-align: center;
    width: 10rem;
  }
  .main .page-sub-groups .web-collapse > a {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
  }
}
.main .page-item .page-link {
  color: hsl(var(--color-primary-base));
}
.main .page-item .page-link:focus {
  box-shadow: 0 0 0 1px hsl(var(--color-primary-dark-base));
}
.main .page-item.active .page-link {
  color: #fff;
  background-color: hsl(var(--color-primary-base));
  border-color: hsl(var(--color-primary-base));
}
.home {
  background-color: #fff;
}
.home .container {
  margin-bottom: 2rem;
}
.home .block-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 2rem 0;
}
.home .block-title > span {
  padding: 2rem;
  display: inline-block;
}
.home .block-title .name {
  border-bottom: 1px solid hsl(var(--color-primary-base));
}
.home .block-title .more {
  font-weight: normal;
  font-size: 1.4rem;
  flex-grow: 1;
  text-align: right;
  border-bottom: 1px solid #ccc;
}
.home .announce ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .announce ul li {
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #ccc;
}
.home .announce ul li:hover {
  box-shadow: 0 0 1px 1px hsl(var(--color-primary-lighter-base));
}
.home .announce ul li .cover {
  width: 100%;
  height: 0;
  padding-bottom: 15%;
  overflow: hidden;
  position: relative;
}
.home .announce ul li .cover img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.home .announce ul li > h3 {
  padding: 2rem;
  height: 6rem;
  overflow: hidden;
}
@media (min-width: 992px) {
  .home .announce ul li {
    width: calc(100% - 4rem);
    margin: 1rem 2rem;
  }
}
.home .product-list {
  display: block;
  width: 100%;
  overflow: hidden;
}
.home .product-list ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.home .product-list ul > li {
  cursor: pointer;
  width: calc(33% - 2rem);
  padding: 1rem;
  border-radius: 100%;
  margin: 1rem;
}
.home .product-list ul > li:hover .product-icon-container {
  transform: rotateY(180deg);
}
@media (min-width: 992px) {
  .home .product-list ul > li {
    margin: 2rem 4rem;
    width: calc(33% - 8rem);
  }
}
.home .product-list ul > li .product-icon-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.home .product-list ul > li .product-icon-container .product-icon,
.home .product-list ul > li .product-icon-container .product-info {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 0;
}
.home .product-list ul > li .product-icon-container .product-icon {
  z-index: 2;
  background-color: #fff;
  padding: 0.4rem;
}
@media (min-width: 992px) {
  .home .product-list ul > li .product-icon-container .product-icon {
    border: 1px solid #ccc;
  }
}
.home .product-list ul > li .product-icon-container .product-icon .icon {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
.home .product-list ul > li .product-icon-container .product-icon .icon > img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .product-list ul > li .product-icon-container .product-info {
  transform: rotateY(-180deg);
  display: none;
  color: #fff;
  background-color: hsl(var(--color-primary-lighter-base));
}
@media (min-width: 992px) {
  .home .product-list ul > li .product-icon-container .product-info {
    display: inline-block;
  }
}
.home .product-list ul > li .product-icon-container .product-info > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  .home .news-container {
    height: 32rem;
    overflow: hidden;
    position: relative;
  }
}
.home .news-container .news {
  display: flex;
  flex-direction: row;
}
@media (min-width: 992px) {
  .home .news-container .news {
    background-color: hsl(0, 0%, 95%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .home .news-container .news .block-title {
    margin-top: 0;
  }
}
.home .news-container .news-list {
  width: 100%;
  height: 100%;
}
.home .news-container .news-list dt {
  font-size: 1.75rem;
}
.home .news-container .news-list dd {
  padding: 0.4rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 992px) {
  .home .news-container .news-list {
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.home .news-container .ad {
  display: none;
  flex-direction: row;
  width: 60%;
  height: 100%;
}
.home .news-container .ad .ad-img {
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home .news-container .ad .ad-img > img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.home .news-container .ad .ad-content {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.home .news-container .ad .ad-content .ad-text {
  margin-bottom: 2rem;
  overflow: hidden;
  height: calc(100% - 15rem);
}
@media (min-width: 992px) {
  .home .news-container .ad {
    display: flex;
  }
}
.home .picnews .looper {
  width: 100%;
  height: 0;
  padding-bottom: 15%;
  position: relative;
}
.home .picnews .looper .swiper-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .picnews .looper .swiper-slide {
  width: 33%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
}
.home .picnews .looper .swiper-slide:hover {
  border: 1px solid hsl(var(--color-primary-lighter-base));
}
.home .picnews .looper .swiper-slide > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.home .picnews .looper .swiper-slide .slide-info {
  display: none;
  z-index: 20;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .home .picnews .looper .swiper-slide .slide-info {
    display: block;
  }
}
.home .picnews ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 10s linear infinite;
}
.home .picnews ul li {
  flex-shrink: 0;
  width: 20%;
  height: 0;
  padding-bottom: 15%;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
}
.home .picnews ul li .cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.home .picnews ul li .cover img {
  width: 100%;
  height: 100%;
}
.contactus {
  margin: 0 auto;
  text-align: center;
}
.contactus ul {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 6rem;
  flex-direction: column;
}
.contactus ul li {
  padding: 1rem 0;
}
.contactus ul li label::after {
  content: ':';
}
.contactus ul li i {
  color: #fff;
  margin-right: 0.6rem;
}
@media (min-width: 992px) {
  .contactus {
    max-width: 910px;
  }
  .contactus .address {
    flex-direction: column;
  }
  .contactus .address li {
    margin: 1rem;
  }
}
.partners ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.partners ul li {
  margin: 1rem;
}
.partners ul li a img {
  display: none;
}
.partners ul li a span {
  display: block;
  padding: 0.4rem;
  position: relative;
}
.partners ul li a span::before {
  content: '.';
  position: absolute;
  top: -0.4rem;
  height: 100%;
  left: -1rem;
  font-size: 4.8rem;
  line-height: 0.4rem;
  color: hsl(var(--color-primary-base));
}
@media (min-width: 992px) {
  .partners ul {
    flex-direction: row;
  }
  .partners ul li {
    width: calc(25% - 4rem);
    text-align: center;
    margin: 2rem 2rem 8rem 2rem;
  }
  .partners ul li a img {
    width: 80%;
    height: 80%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  .partners ul li a span {
    padding: 0;
  }
  .partners ul li a span::before {
    display: none;
  }
}
.page-news-info {
  box-shadow: 0 0 1px 1px #ccc;
}
.page-news-info > img {
  width: 100%;
}
.page-news-info > p {
  font-size: 1.4rem;
  padding: 2rem;
}
.news-page-block-title .page-sub-groups .table {
  top: 14rem;
}
@media (min-width: 768px) {
  .news-page-block-title {
    display: none;
  }
}
.page-news-list-container {
  margin: 2rem auto;
  padding-left: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.page-news-leftbar {
  display: none;
}
@media (min-width: 768px) {
  .page-news-leftbar {
    display: block;
    width: 25%;
  }
}
.page-news-leftbar dl {
  margin-bottom: 4rem;
}
.page-news-leftbar dl dt {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  color: #666;
  border-bottom: 1px solid hsl(var(--color-primary-base));
  margin-bottom: 1rem;
}
.page-news-leftbar dl dd {
  margin: 0;
  padding-left: 0;
}
.page-news-leftbar dl.page-news-leftbar-groups dd {
  margin-bottom: 1rem;
}
.page-news-leftbar dl.page-news-leftbar-groups dd a {
  padding: 1rem 1.6rem;
  display: block;
  margin-bottom: 0.1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: hsl(var(--color-primary-lighter-base));
  position: relative;
}
.page-news-leftbar dl.page-news-leftbar-groups dd a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  transform: rotate(-45deg) translateY(-50%);
  border-bottom: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
}
.page-news-leftbar dl.page-news-leftbar-groups dd a:hover {
  background-color: hsl(var(--color-primary-base));
}
.page-news-leftbar dl.page-news-leftbar-announce dd {
  padding-left: 0;
}
.page-news-leftbar dl.page-news-leftbar-announce dd a {
  padding: 0.8rem 1.2rem;
  display: block;
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 3rem;
}
.page-news-list {
  width: 100%;
  min-height: 20rem;
}
.page-news-list li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0.4rem 0;
  padding: 0.6rem 1rem;
}
.page-news-list li::before {
  content: '.';
  position: absolute;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  left: -0.4rem;
  font-size: 4.8rem;
  line-height: 1px;
  color: hsl(var(--color-primary-base));
}
.page-news-list li .news-date {
  display: none;
}
.page-news-list li .news-info {
  width: 100%;
}
.page-news-list li .news-info .news-title {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page-news-list li .news-info .news-intro {
  display: none;
}
@media (min-width: 768px) {
  .page-news-list {
    margin-left: 2rem;
    width: calc(75% - 2rem);
  }
  .page-news-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .page-news-list li::before {
    display: none;
  }
  .page-news-list li .news-date {
    display: block;
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 95%);
    color: #333;
    border-radius: 1rem;
  }
  .page-news-list li .news-date span {
    display: block;
    text-align: center;
    font-size: 1.6rem;
  }
  .page-news-list li .news-date span.news-day {
    font-size: 2.4rem;
  }
  .page-news-list li .news-info {
    width: calc(100% - 10rem);
  }
  .page-news-list li .news-info .news-title {
    font-size: 1.6rem;
  }
  .page-news-list li .news-info .news-intro {
    margin-top: 0.2rem;
    margin-bottom: 0;
    height: 4rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.news-detail {
  min-height: 20rem;
  position: relative;
  max-width: 70rem;
  padding: 1rem;
  margin: 0 auto;
}
.news-detail .swiper-container {
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 1px 5px #ccc;
  overflow: hidden;
}
@media (min-width: 768px) {
  .news-detail .swiper-container {
    max-width: 480px;
  }
}
@media (min-width: 992px) {
  .news-detail .swiper-container {
    max-width: 640px;
  }
}
.news-detail .swiper-container .swiper-slide {
  position: relative;
  overflow: hidden;
}
.news-detail .swiper-container .swiper-slide img {
  width: 100%;
}
.news-detail .swiper-container .swiper-slide .slide-info {
  display: none;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  padding: 2rem 4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 2px #333;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .news-detail .swiper-container .swiper-slide .slide-info {
    display: block;
  }
}
.news-detail .swiper-prev,
.news-detail .swiper-next {
  z-index: 10;
  position: absolute;
  top: 50%;
  color: #666;
  font-size: 4rem;
  opacity: 0.8;
}
.news-detail .swiper-prev {
  left: 1rem;
}
.news-detail .swiper-next {
  right: 1rem;
}
.news-detail .swiper-button-disabled {
  opacity: 0.3;
}
.news-detail .swiper-pagination-bullet-active {
  background: hsl(var(--color-primary-base)) !important;
}
.page-photo-news-list {
  width: 100%;
  min-height: 20rem;
}
.page-photo-news-list li {
  margin-bottom: 2rem;
}
.page-photo-news-list .news-cover {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px 1px #ccc;
}
.page-photo-news-list .news-cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.page-photo-news-list .news-info .news-title {
  display: block;
  padding: 1rem 0.4rem;
  text-align: center;
  font-size: 1.6rem;
  height: 3.6rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.page-photo-news-list .news-info .news-intro {
  display: none;
}
@media (min-width: 768px) {
  .page-photo-news-list {
    width: calc(75% - 2rem);
    margin-left: 2rem;
  }
  .page-photo-news-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .page-photo-news-list li .news-cover {
    width: 16rem;
    padding: 0;
    height: 12rem;
  }
  .page-photo-news-list li .news-info {
    width: calc(100% - 16rem);
    padding-left: 1rem;
  }
  .page-photo-news-list li .news-info .news-title {
    margin-bottom: 0.4rem;
    text-align: left;
  }
  .page-photo-news-list li .news-info .news-intro {
    color: #666;
    display: block;
    padding: 0 1rem;
    margin: 0;
    height: 8rem;
    line-height: 1.8;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .page-photo-news-list li:hover {
    box-shadow: 0 0 1px 1px #ccc;
  }
}
.page-product-list {
  margin-top: 2rem;
  min-height: 20rem;
}
.page-product-list ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.page-product-list li {
  display: inline-block;
  cursor: pointer;
  width: calc(50% - 1.2rem);
  overflow: hidden;
  margin: 1rem 0.6rem;
}
@media (min-width: 768px) {
  .page-product-list li {
    width: calc(33% - 4rem);
    margin: 2rem;
    padding: 1rem;
  }
}
.page-product-list li .cover {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.page-product-list li .cover > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.page-product-list li .cover-info {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
}
.page-product-list li .cover-info .cover-title {
  font-size: 1.6rem;
  color: hsl(var(--color-primary-base));
  font-weight: bold;
  padding: 1rem 0;
  display: block;
  text-align: center;
  overflow: hidden;
  height: 3.6rem;
}
.page-product-list li .cover-info .cover-content {
  display: none;
}
@media (min-width: 768px) {
  .page-product-list li .cover-info .cover-content {
    display: block;
    max-height: 4rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.page-product-list li:hover {
  box-shadow: 0 0 0 0.1rem #666;
}
.product-detail-title {
  padding: 2rem 0;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 2px solid #666;
}
.product-detail-title .product-detail-date {
  display: block;
  margin-top: 1rem;
}
:root {
  font-size: 0.625rem;
  --color-primary-base: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
  --color-primary-lighter-base: var(--primary-hue), calc(var(--primary-saturation) - 10%),
    calc(var(--primary-lightness) + 10%);
  --color-primary-dark-base: var(--primary-hue), calc(var(--primary-saturation) + 10%),
    calc(var(--primary-lightness) - 20%);
  --color-secondary-base: var(--secondary-hue), var(--secondary-saturation), var(--secondary-lightness);
  --color-secondary-lighter-base: var(--secondary-hue), calc(var(--secondary-saturation) - 10%),
    calc(var(--secondary-lightness) + 10%);
  --color-secondary-dark-base: var(--secondary-hue), calc(var(--secondary-saturation) - 10%),
    calc(var(--secondary-lightness) + 10%);
  --color-tertiary-base: var(--tertiary-hue), var(--tertiary-saturation), var(--tertiary-lightness);
  --color-tertiary-lighter-base: var(--tertiary-hue), calc(var(--tertiary-saturation) - 10%),
    calc(var(--tertiary-lightness) + 10%);
  --color-tertiary-dark-base: var(--tertiary-hue), calc(var(--tertiary-saturation) - 10%),
    calc(var(--tertiary-lightness) + 10%);
}
* {
  outline: none !important;
}
/*通用设置*/
html {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}
.body-container {
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: hsl(var(--color-primary-base));
}
a:hover {
  text-decoration: none;
  color: #666;
}
a.secondary {
  color: #fff;
}
a.secondary:hover {
  text-decoration: underline;
}
a.gray {
  color: #666;
}
a.gray:hover {
  color: hsl(var(--color-primary-base));
  text-decoration: underline;
}
a.button-primary {
  padding: 0.5rem 3.5rem;
  border-radius: 4rem;
  color: #fff;
  background-color: hsl(var(--color-primary-base));
  border-color: hsl(var(--color-primary-base));
}
a.button-primary:hover {
  background-color: hsl(var(--color-primary-lighter-base));
}
a.button-primary:focus,
a.button-primary.focus {
  background-color: hsl(var(--color-primary-lighter-base));
  box-shadow: 0 0 0 0.2rem hsla(var(--color-primary-base), 0.5);
}
.gongan img,
.gongan p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
#__nuxt,
#__layout {
  height: 100%;
}
#app {
  height: 100%;
}
[v-cloak] {
  display: none;
}
/*checkbox定义*/
.checkbox-circle {
  width: 2rem;
  height: 2rem;
  background: #ddd;
  margin: 0;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.checkbox-circle label {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100px;
  transition: all 0.01s ease;
  cursor: pointer;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  z-index: 1;
  background: #ccc;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkbox-circle input[type='checkbox'] {
  display: none;
}
.checkbox-circle input[type='checkbox']:checked + label {
  background: #26ca28;
}
.text_with_1px_border {
  text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff;
}
.text_with_2px_border {
  text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff, /* second layer at 2px */ -2px -2px 0px #fff, -1px -2px 0px #fff, 0px -2px 0px #fff, 1px -2px 0px #fff, 2px -2px 0px #fff, 2px -1px 0px #fff, 2px 0px 0px #fff, 2px 1px 0px #fff, 2px 2px 0px #fff, 1px 2px 0px #fff, 0px 2px 0px #fff, -1px 2px 0px #fff, -2px 2px 0px #fff, -2px 1px 0px #fff, -2px 0px 0px #fff, -2px -1px 0px #fff;
}
:root {
  --primary-hue: 21;
  --primary-saturation: 100%;
  --primary-lightness: 58%;
  --secondary-hue: 0;
  --secondary-saturation: 0%;
  --secondary-lightness: 0%;
  --tertiary-hue: 0;
  --tertiary-saturation: 0%;
  --tertiary-lightness: 0%;
}
