// out: false
.home {
  background-color: @color-white;
  .container {
    margin-bottom: 2rem;
  }
  .block-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    > span {
      padding: 2rem 2rem 1rem 2rem;
      display: inline-block;
    }
    .name {
      border-bottom: 1px solid @color-primary;
    }
    .more {
      font-weight: normal;
      font-size: 1.4rem;
      flex-grow: 1;
      text-align: right;
      border-bottom: 1px solid @color-gray-lighter;
    }
  }
  .ad-container {
    text-align: center;
    padding: 4rem;
    background-color: @bg-gray-dark;
    .text {
      font-size: 1.6rem;
      height: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .links {
      margin-top: 2rem;
    }
  }
  .announce {
    .looper {
      width: 100%;
      height: 0;
      padding-bottom: 40%;
      position: relative;
    }
    .swiper-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .swiper-slide {
      cursor: pointer;
      position: relative;
      box-shadow: 0 0 1px 1px @color-gray-lighter;
      &:hover {
        box-shadow: 0 0 1px 1px @color-primary-lighter;
      }
      .cover {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        img {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }
      }
      > h3 {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0.8rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background-color: rgba(255, 255, 255, 0.5);
        color: @color-white;
        text-shadow: -1px -1px 0px @color-primary, 0px -1px 0px @color-primary, 1px -1px 0px @color-primary,
          -1px 0px 0px @color-primary, 1px 0px 0px @color-primary, -1px 1px 0px @color-primary,
          0px 1px 0px @color-primary, 1px 1px 0px @color-primary;
      }
      @media (min-width: 992px) {
      }
    }
  }
  .product-list {
    ul > li {
      margin-top: 1rem;
    }
    .product-icon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .product-icon {
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      > img {
        width: 100%;
        object-fit: cover;
      }
    }
    .product-info {
      padding: 1.6rem;
      h4 {
        height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        max-height: 4rem;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .news-container {
    @media (min-width: 992px) {
      height: 32rem;
      overflow: hidden;
      position: relative;
    }
    .news {
      display: flex;
      flex-direction: row;
      @media (min-width: 992px) {
        background-color: @bg-gray;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        .block-title {
          margin-top: 0;
        }
      }
    }
    .news-list {
      width: 100%;
      height: 100%;
      dt {
        font-size: 1.75rem;
      }
      dd {
        padding: 0.4rem 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      @media (min-width: 992px) {
        width: 40%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
    .ad {
      display: none;
      flex-direction: row;
      width: 60%;
      height: 100%;
      .ad-img {
        width: 40%;
        height: 100%;
        overflow: hidden;
        position: relative;
        > img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          transform: translate(-50%, -50%);
        }
      }
      .ad-content {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 60%;
        height: 100%;
        overflow: hidden;
        .ad-text {
          margin-bottom: 2rem;
          overflow: hidden;
          height: calc(100% - 15rem);
        }
      }
      @media (min-width: 992px) {
        display: flex;
      }
    }
  }
  .picnews {
    .looper {
      width: 100%;
      height: 0;
      padding-bottom: 40%;
      position: relative;
      .swiper-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .swiper-slide {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 0.4rem;
        border: 1px solid @color-gray-lighter;
        &:hover {
          border: 1px solid @color-primary-lighter;
        }
        > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .slide-info {
          display: none;
          z-index: 20;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          padding: 1rem 2rem;
          font-size: 1.6rem;
          background-color: rgba(0, 0, 0, 0.5);
          a {
            color: @color-white;
          }
          @media (min-width: 768px) {
            display: block;
          }
        }
      }
    }
    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      transform: translate3d(0, 0, 0);
      animation: moveSlideshow 10s linear infinite;
      li {
        flex-shrink: 0;
        width: 20%;
        height: 0;
        padding-bottom: 15%;
        overflow: hidden;
        position: relative;
        transform: translate3d(0, 0, 0);
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          padding: 1rem;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
