// out: false
.home {
  background-color: @color-white;
  .block-title {
    margin-bottom: 2rem;
    text-align: center;
    > span {
      padding: 2rem 2rem 1rem 1rem;
      display: inline-block;
    }
    .name {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
    .more {
      font-weight: normal;
      font-size: 1.4rem;
      color: #868686;
    }
    @media @tablet {
      .name {
        font-size: 3.5rem;
      }
      .more {
        font-size: 1.8rem;
      }
    }
  }
  .account {
    position: relative;
    dl {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      margin-top: 6rem;
      margin-bottom: 4rem;
      dt {
        width: 100%;
      }
      dd {
        padding: 2rem;
        text-overflow: ellipsis;
        overflow: hidden;
        width: calc(50% - 3rem);
        color: #868686;
        margin: 2rem 1.5rem;
        border-radius: 3rem;
        box-shadow: 0 5px 10px #cfcfcfb3;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        .account-img {
          width: 100%;
          overflow: hidden;
          >img {
            padding: 0 3rem;
            width: 100%;
            object-fit: cover;
          }
        }
        span {
          margin-top: 2rem;
          width: 100%;
          float: left;
          &.title {
            text-align: center;
          }
        }
      }
    }
    @media @tablet {
      dl{
        dd {
          width: calc(25% - 3rem);
          .title {
            font-size: 1.8rem;
          }
        }
      }
    }
    @media @desktop {
      dl{
        dd {
          padding: 3rem;
          .account-img {
            >img {
              padding: 0 5rem;
            }
          }
        }
      }
    }
  }
  .ad-img-block {
    text-align: center;
    margin: 4rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    .ad-img-color{
      padding: 8rem 8rem 10rem 8rem;
      background-color: rgba(255, 255, 255, 0.6);
      p{
        @media @tablet{
          font-size: 1.8rem;
        }
      }
    }
    .title {
      font-size: 2.5rem;
      padding: 3rem 0;
      position: relative;
      @media @tablet {
        font-size: 3.5rem;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid @color-primary;
      }
      .name {
        padding: 1rem 6rem;
        white-space: nowrap;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 4rem 0;
        border-radius: 4rem;
        box-shadow: 0 5px 10px #cfcfcfb3;
        background: rgba(255, 255, 255, 0.5);
      }
    }
    .img-url {
      display: block;
      color: #444;
    }
    @media @desktop{
      background-attachment: fixed;
      .ad-img-color {
        padding: 8rem 16rem 10rem 16rem;
      }
    }
  }
  .news-block {
    background-color: none;
    margin-bottom: 4rem;
    padding: 2rem 0;
    position: relative;
    -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    .news-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .block-title{
        text-align: left;
        margin-right: 2rem;
        box-shadow: 0 5px 10px #cfcfcfb3;
        .more {
          color: #4d4d4d;
          margin: 0;
          a {
            float: right;
          }
        }
      }
      dl {
        width: 100%;
        margin: 2rem 0;
      }
      dt {
        width: 100%;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        border-radius: 4rem;
        padding: 1rem;
      }
      dd {
        padding: 0.4rem 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: 1px #dedede solid;
        a {
          white-space: nowrap;
          width: calc(100% - 11rem);
          overflow: hidden;
          display: block;
          float: left;
          text-overflow: ellipsis;
        }
        span {
          float: right;
          color: #aeaeae;
        }
      }
      @media @tablet {
        dl {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 50%;
        }
        dd {
          width: calc(100% - 1rem);
          color: @color-gray;
          margin: .5rem 2rem 1rem 0;
          a {
            font-size: 1.8rem;
          }
          span {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  .picnews-block {
    margin: 6rem 0;
    background-color: hsla(@color-primary-dark-hsl, 0.05);
    padding: 6rem 0;
    .piccont {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: relative;
      padding-top: 4rem;
      .picimg {
        width: 100%;
        padding-bottom: 50%;
        height: 0;
        position: relative;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .slide-info {
        font-size: 1.6rem;
        margin-right: 2rem;
        margin-left: 2rem;
        padding-top: 2rem;
        width: calc(100% - 4rem);
      }
    }
    @media @desktop {
      .piccont {
        flex-direction: row;
        padding: 6rem 0;
        .picimg {
          width: 55%;
          padding-bottom: 35%;
        }
        .slide-info {
          position: absolute;
          right: 0;
          margin-right: 6rem;
          margin-left: 6rem;
          width: 33%;
          .name {
            text-align: left;
          }
          .more {
            text-align: left;
          }
        }
        &:nth-child(2n + 1) {
          .slide-info {
            left: 0;
          }
          .picimg {
            margin-left: 45%;
          }
        }
      }
    }
  }
  .product-block {
    margin: 6rem 0;
    .looper{
      width: 100%;
      height: 0;
      padding-bottom: 70%;
      position: relative;
    }
    .swiper-container{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding:2rem 4rem 6rem 4rem;
    }
    .swiper-slide{
      cursor: pointer;
      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .product-info {
      padding: 1.6rem 0;
      text-align: center;
      h4 {
        height: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        @media @tablet {
          height: 2.4rem;
          font-size: 1.8rem;
        }
      }
    }
    @media @desktop {
      .looper{
        padding-bottom: 30%;
      }
    }
  }
  .numberRoll{
    padding: 6rem 0;
    position: relative;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    .roll-ul{
      .roll-li{
        width: 30%;
        text-align: center;
        display: inline-block;
      .rollCont{
        display: inline-block;
        text-align: center;
        position: relative;
        writing-mode: vertical-lr;
        text-orientation: upright;
        /*文字禁止编辑*/
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        p{
          margin-bottom: 0rem;
        }
        .big-number{
          font-size: 2.2rem;
          @media @mobile{
            font-size: 2.7rem;
          }
          @media @tablet{
            font-size: 3rem;
          }
          @media @desktop{
            font-size: 4rem;
          }
        }
        .mark-item {
          width: 10px;
          line-height: 10px;
          position: relative;
          margin: 0 0.3rem;
        & > span {
          position: absolute;
          width: 100%;
          writing-mode: vertical-rl;
          text-orientation: upright;
        }
        @media @mobile{
          margin: 0;
        }
        }
        /*滚动数字设置*/
        .number-item {
          width: 1.15rem;
          height: 4rem;
          list-style: none;
          margin: 0 0.1rem;
          & > span {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 100%;
            writing-mode: vertical-rl;
            text-orientation: upright;
            overflow: hidden;
            & > i {
              font-style: normal;
              position: absolute;
              top: 11px;
              left: 50%;
              transform: translate(-50%,0);
              transition: transform 1s ease-in-out;
              letter-spacing: 10px;
            }
          }
          @media @mobile{
            width: 1.6rem;
            height: 5rem;
          }
          @media @tablet{
            margin: 0 0.2rem;
          }
          @media @desktop{
            width: 2rem;
            margin: 0 0.5rem;
            height: 7rem;
          }
        }
        .number-item:last-child {
          margin-right: 0;
        }
      }
      @media @desktop {
        width: 33%;
      }
      }
    }
  }
}
