// out: false
@color-primary-hsl: var(--primary-hue), var(--primary-saturation), var(--primary-lightness);
@color-primary-lighter-hsl: var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) + 5%);
@color-primary-dark-hsl: var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 5%);
@color-primary-darken-hsl: var(--primary-hue), var(--primary-saturation), calc(var(--primary-lightness) - 10%);

@color-primary: hsl(@color-primary-hsl);
@color-primary-lighter: hsl(@color-primary-lighter-hsl);
@color-primary-dark: hsl(@color-primary-dark-hsl);
@color-primary-darken: hsl(@color-primary-darken-hsl);

// 固定颜色
@color-gray-hsl: 0, 0%, 40%;
@color-gray: #666;
@color-gray-lighter: lighten(@color-gray, 20%);
@color-gray-dark: darken(@color-gray, 20%);
@color-white: #fff;
@color-weixin: #fff;
@color-lighter: #f8f9fa;

// 背景色
@bg-gray: hsl(0, 0, 95%);
@bg-gray-dark: hsl(0, 0, 90%);

@tablet: ~'(min-width: 768px)';
@desktop: ~'(min-width: 992px)';

@vp_desktop: 992px;
@vp_tablet: 768px;
@vp_mobile: 576px;

.OnDesktop(@rules) {
  @media screen and (min-width: @vp_desktop) {
    @rules();
  }
}
.OnTablet(@rules) {
  @media screen and (max-width: @vp_tablet) {
    @rules();
  }
}
.OnMobile(@rules) {
  @media screen and (max-width: @vp_mobile) {
    @rules();
  }
}
